.body{
    max-width: 400px;
    margin: auto;
    /* margin-top: 50px; */
}

.button{
    display: block;
    margin-top: 20px;
}

.button button{
    width:22%;
    margin-right: 12px;
    margin-bottom: 5px;
    height: 40px;
    font-size: 30px;
    border: none;
    /* background-color: #e7e7e7; color: black; */
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button button:hover {
    /* background-color: rgba(8, 8, 8, 0.514); */
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.568), 0 17px 50px 0 rgba(0,0,0,0.19);
    /* color: white; */
  }

.button #oper{
    color: aqua;
}

.display{
    width: 100%;
    height: 40px;
    text-align: right;
}

.display p{
    font-size: 40px;
    padding-right: 20px;
}